name: v8-windows-x64

on:
  workflow_dispatch:
    inputs:
      v8_version:
        description: 'v8 version tag'
        type: string
        required: false
  workflow_call:
    inputs:
      v8_version:
        required: true
        type: string

jobs:
  build:
    runs-on: windows-2022
    env:
      V8_VERSION: ${{ inputs.v8_version || github.event.inputs.v8_version }}

    steps:
      - uses: actions/checkout@v4
        with:
          path: Scripts

      - uses: actions/setup-python@v5
        if: ${{ vars.HOST_WINDOWS != 'true' }}
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: Fetch v8
        shell: cmd
        run: |
          cd %GITHUB_WORKSPACE%
          echo %GITHUB_WORKSPACE%
          echo %PATH%

          git config --global core.autocrlf false
          git config --global core.filemode false
          git config --global branch.autosetuprebase always
          git config --global core.longpaths true

          curl https://storage.googleapis.com/chrome-infra/depot_tools.zip --output ./depot_tools.zip
          7z x -odepot_tools depot_tools.zip
          set PATH=%GITHUB_WORKSPACE%\depot_tools;%PATH%
          set DEPOT_TOOLS_WIN_TOOLCHAIN=0

          echo _____depot_tools_____
          cd depot_tools
          call gclient
          
          cd ..
          mkdir v8
          cd v8
          echo _____fetch_____
          call fetch --nohooks --nohistory v8
          echo _____enter_____
          cd v8
          echo _____checkout_____
          call git fetch origin refs/tags/%V8_VERSION%
          call git checkout FETCH_HEAD
          echo _____sync_____
          call gclient sync -D --force --reset

      - name: Build v8 x86_64
        shell: cmd
        run: |
          echo _____ninja_____ dont know why v8gen.py cant properly generate files we want
          call gn gen .\out.gn\x64.release -args="is_component_build=false is_debug=false target_cpu=""x64"" target_os=""win"" v8_enable_i18n_support=false v8_monolithic=true v8_use_external_startup_data=false v8_enable_pointer_compression=true v8_jitless=false use_custom_libcxx=false treat_warnings_as_errors=false v8_symbol_level=0 v8_enable_sandbox=false"
          echo _____list_____
          dir .\out.gn\x64.release
          more .\out.gn\x64.release\args.gn
          echo _____build_____
          call ninja -C .\out.gn\x64.release v8_monolith
          echo _____results_____
          dir %GITHUB_WORKSPACE%\v8\v8\out.gn\x64.release\obj\*.lib

      - name: Upload
        if: ${{ env.ACTIONS_RUNTIME_URL != '' }}
        uses: actions/upload-artifact@v4
        with:
          path: v8/v8/out.gn/x64.release/obj/v8_monolith.lib
          name: prebuilt_v8_windows_x86_64


